extends layout


block content
  h1 Categories

  section.grid-row
    for category in categories
      - let imgData = category.image.data && category.image.data.toString("base64");
      - let imgType = category.image.data && category.image.fileType;

      article
        if category.image.data
          .opacity-div(
            style=`background-image: url(data:${imgType};base64,${imgData});`
          )
        else
          .opacity-div-default
        h3
          a(href=category.url) #{category.name}

  hr
  div.buttons-operators
    button.green-btn
      a(href="/category/create") Add category