extends layout

block content
  h1 Create Category

  form(method="POST" action="")
    label(for="name") Name 
    input(type="text" id="name" name="name" minlength="1" maxlength="100" required)
    
    label(for="description") Description 
    input(type="text" id="description" name="description" maxlength="600")

    button(type="submit") Create