extends layout

mixin articleContent(category)
  h3
    a(href=category.url) #{category.name}

block content
  h1 Categories

  section
    for category in categories
      - let imgData = category.image.data && category.image.data.toString("base64");
      - let imgType = category.image.data && category.image.fileType;

      if category.image.data
        article(
          styl=`background-image: url(data:${imgType};base64,${imgData});`
        )
          +articleContent(category)
      else
        article
          +articleContent(category)  

  p
    a(href="/category/create") Add category