extends layout

block content
  h1= title
  section
    article(class="categories-index")
      div.opacity-div
      h2 
        a(href="/categories") Categories #{data.categoryCount}
    article(class="items-index")
      div.opacity-div
      h2
        a(href="/items") Items #{data.itemCount}