extends layout

mixin articleContent(item)
  h3
    a(href=item.url) #{item.name}


block content
  h1 Items

  section
    for item in items
      - let imgData = item.image.data && item.image.data.toString("base64");
      - let imgType = item.image.data && item.image.fileType;
      if item.image.data
        article(
          style=`background-image: 
            linear-gradient(to right, rgba(255,255,255, 0.3) 0 100%),
            url(data:${imgType};base64,${imgData});`
        )
          +articleContent(item)
      else
        article
          +articleContent(item)
  
  p
    a(href="/item/create") Add item