doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/modern-normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/icons/joystick.png')
  body
    header
      nav
        ul
          li #[a(href="/") Home]
          li #[a(href="/categories") Categories]
          li #[a(href="/items") Items]

    main
      div.container
        block content
      
    footer
      p Axel C. Lopez @Copyright 2022 
        a(href="https://github.com/lopezac") 
          img(class="icon" src="/icons/github.png" alt="GitHub")
