img.icon {
  width: 32px;
  height: 32px;
}

@font-face {
  font-family: "Lato";
  src: url("../../../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Regular.ttf");
}
.green-btn {
  background-color: #44d62c;
  color: black;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  font-weight: bolder;
  padding: 10px 12px;
  font-size: 0.9rem;
}
.green-btn:hover, .green-btn:focus {
  background-color: #73e161;
}

.container > section.grid-row > article, .buttons-operators, footer p, header nav ul, body {
  display: flex;
}

body {
  flex-direction: column;
}

.buttons-operators, footer p, header nav ul {
  justify-content: center;
  align-items: center;
}

.container > section.grid-row > article {
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  font-family: "Roboto";
}

main {
  flex: 1;
}

h1 {
  color: #44d62c;
  font-family: "Lato";
  text-align: center;
  margin-top: 0;
}

hr {
  border-color: #44d62c;
  color: #44d62c;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: black;
  color: #7b7b7b;
  border-bottom: 1px solid #44d62c;
}
header nav ul {
  column-gap: 30px;
}
header nav ul li {
  padding: 15px 0;
}
header nav ul li a:hover {
  color: #fafafa;
}

footer {
  background-color: black;
  color: #e5e5e5;
  border-top: 1px solid #44d62c;
}

footer p {
  column-gap: 10px;
  margin: 8px 0;
}

body > main {
  background-color: #171717;
  color: white;
}

body > main > .container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.container {
  padding: 20px 10px 30px 10px;
}
.container .green-btn {
  margin-top: 5px;
}
.container > p {
  text-align: center;
}

.container > section.grid-row {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.container > section.grid-row.index {
  max-width: 600px;
  margin: 0 auto;
}

.container > section.grid-row > article {
  padding-left: 5px;
  position: relative;
  height: 250px;
  z-index: 1;
}
.container > section.grid-row > article:nth-child(1) .opacity-div {
  background-image: url("../../../images/controller1.jpg");
}
.container > section.grid-row > article:nth-child(2) .opacity-div {
  background-image: url("../../../images/mouse2.jpg");
}
.container > section.grid-row > article .opacity-div,
.container > section.grid-row > article .opacity-div-default {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}
.container > section.grid-row > article .opacity-div-default {
  background-image: url("../../../images/no-image.png");
}

.buttons-operators {
  column-gap: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail img {
  max-width: 100%;
  height: 480px;
}

.detail > .info {
  color: #d4d4d4;
}
.detail > .info .item-price {
  font-size: 2.2rem;
  margin: 16px 0;
}
.detail > .info strong {
  color: white;
}

@media (min-width: 900px) {
  .detail {
    flex-direction: row;
  }
  .detail img {
    max-width: 430px;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: #3f3f46;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

form input {
  background-color: #171717;
  border: 1px solid #7b7b7b;
  padding: 10px;
  color: white;
  border-radius: 3px;
  width: 100%;
}
form input:hover, form input:focus {
  border: 1px solid #44d62c;
}

form input[type=checkbox] {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
