$green: #44d62c;
$lightGreen: #73e161;
$black: #171717;
$lightBlack: #3f3f46;
$white: #fafafa;
$lightWhite: #e5e5e5;
$mediumWhite: #d4d4d4;
$lightGray: #7b7b7b;
$mediumGray: #848484;

@font-face {
  font-family: "Lato";
  src: url("../../../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Regular.ttf");
}
