$green: #44d62c;
$black: #171717;
$white: #fafafa;
$lightWhite: #e5e5e5;
$lightGray: #7b7b7b;

@font-face {
  font-family: "Lato";
  src: url("../../../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto-Regular.ttf");
}
