@use "../base/variables" as *;

.detail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    max-width: 100%;
    height: 480px;
  }
}

.detail > .info {
  color: $mediumWhite;

  .item-price {
    font-size: 2.2rem;
    margin: 16px 0;
  }

  strong {
    color: white;
  }
}

@media (min-width: 900px) {
  .detail {
    flex-direction: row;

    img {
      max-width: 430px;
    }
  }
}
